Some instructions to note:
- This assignment contains three parts
    - numpy (15 questions) 
    - pandas (15 questions)
-
- write the code only in places indicated
- assign answers to the variables named as question numbers (otherwise assignment won't be evaluated)
- This assignment will be evaluated automatically, each question contains 1 mark
    - each question will be evaluated based on the value of the variable assigned to it
    - if the variable is not assigned, it will be considered as 0
    - if the variable is assigned to a wrong value, it will be considered as 0
    - if the variable is assigned to a correct value, it will be considered as 1

In [1]:
# import libraries
import pandas as pd
import numpy as np

### Numpy Basics (15 marks)

In [2]:
# 1. Create a 1D array of numbers from 0 to 9

q1 = np.array([0, 1, 2, 3, 4,5,6,7,8,9])

print(q1)

[0 1 2 3 4 5 6 7 8 9]

In [3]:
# 2. Create a 3×3 numpy array of all True’s (~1 line)

q2 = np.ones((3,3), dtype=bool)

print(q2)

[[ True  True  True]
 [ True  True  True]
 [ True  True  True]]

In [4]:
# 3. Given an array as input, print only odd numbers as output (~2 lines)

a = np.arange(10)
q3 =  [num for num in a
       if num % 2 == 1]

print(q3)

[1, 3, 5, 7, 9]

In [5]:
# 4. Convert a 1D array to a 2D array with 2 rows (~1 line)

e = np.arange(10)
q4 =np.reshape(e, (2, -1))

print(q4)

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [6]:
# 5. How to stack two arrays vertically? (~1 line)

a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
q5 = np.vstack((a,b))

print(q5)

[[0 1 2 3 4]
 [5 6 7 8 9]
 [1 1 1 1 1]
 [1 1 1 1 1]]

In [7]:
# 6. How to generate custom sequences in numpy without hardcoding? (~1 line)
# sequence: [1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

a = np.array([1,2,3])
q6 = np.r_[np.repeat(a,3),np.tile(a,3)]

print(q6)

[1 1 1 2 2 2 3 3 3 1 2 3 1 2 3 1 2 3]

In [8]:
# 7. Get the common items between a and b (~1 line)

a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
q7 =np.intersect1d(a,b)

print(q7)

[2 4]

In [9]:
# 8. From array a remove all items present in array b (~1 line)

a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
q8 =np.setdiff1d(a,b)

print(q8)

[1 2 3 4]

In [10]:
# 9. Get all items between 5 and 10 from given array (~1 line)

a = np.array([2, 6, 1, 9, 10, 3, 27])
q9 =a[(a >= 5) & (a <= 10)]

print(q9)

[ 6  9 10]

In [11]:
# 10. Convert the function maxx that works on two scalars, to work on two arrays. (~1 line)

def maxx(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y
    
maxx(1, 5)
max = np.vectorize(maxx, otypes=[float])
a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])
q10 = max(a, b)

In [12]:
# 11. Swap columns 1 and 2 in the array arr. (~1 line)

q11 = np.arange(9).reshape(3,3)
q11 = q11[:,[1,0,2]]

print(q11)

[[1 0 2]
 [4 3 5]
 [7 6 8]]

In [13]:
# 12. Swap rows 1 and 2 in the array arr (~1 line)

q12 = np.arange(9).reshape(3,3)
q12= q12[[1,0,2],:]

print(q12)

[[3 4 5]
 [0 1 2]
 [6 7 8]]

In [14]:
# 13. Reverse the rows of a 2D array arr (~1 line)

arr = np.arange(9).reshape(3,3)
q13 = arr[::-1]
print(q13)

[[6 7 8]
 [3 4 5]
 [0 1 2]]

In [15]:
# 14. Reverse the columns of a 2D array arr (~1 line)

arr = np.arange(9).reshape(3,3)
q14 = arr[:,::-1]

print(q14)

[[2 1 0]
 [5 4 3]
 [8 7 6]]

In [16]:
# 15. Limit the number of items printed in python numpy array a to a maximum of 6 elements. (~1 line)

q15 = np.arange(15)
# code here
np.set_printoptions(threshold=6)
print(q15)

[ 0  1  2 ... 12 13 14]

### Pandas Basics (15 marks)

**Note:** Each question should use the original imported dataframe. 
**Do not modify the original dataframe.**

In [17]:
# 1. Read dataframe from file 'data.csv', (no index) into a variable called q1 (~1 line)
q16 = pd.read_csv('data.csv')

In [18]:
# 2. Return the first 3 rows of the DataFrame df.

q17 = q16.head(3)

In [19]:
# 3. Select just the 'name' and 'age' columns from the DataFrame df. (~1 line)

q18 = q16[['name','age']]

In [20]:
# 4. Select the data in rows [3, 4, 8] and in columns ['name', 'age', 'number_of_pets']. (~1 line)

q19 = q16.iloc[[3,4,8], [1,2,3]]

In [21]:
# 5. Select only the rows where the number of pets is greater than 3. (~1 line)

q20 = q16[q16['number_of_pets'] > 3]

In [22]:
# 6. Select the rows where the age is missing, i.e. it is NaN. (~1 line)

q21 = q16[q16['age'].isnull()]

In [23]:
# 7. Select the rows where the student name is not Dan or Alice. (~1 line)

q22 = q16.loc[ (q16['name'] !='Dan') & (q16['name'] !='Alice')]

In [24]:
# 8. Select the rows the age is between 30 and 50 (inclusive). (~1 line)

q23 = q16[q16['age'].between(30,50)]

In [25]:
# 9. Find the total age of all students. (~1 line)

q24 = q16['age'].sum()

In [26]:
# 10. Calculate the mean age of all students. (~1 line)

q25 = q16['age'].mean()

In [27]:
# 11. Count the number of students. (~1 line)

q26 = len(q16)

In [28]:
# 12. Sort the DataFrame first by the values in the 'age' in decending order, then by the value in the 'name' column in ascending order. (~1 line)

q27= q16.sort_values(by=['age', 'name'], ascending=[False, True])

In [29]:
# 13. Add a new column, 'course', that contains the value 'big data'. (~1 line)

q28 = q16['course']= "big data"

In [30]:
# 14. Delete the 'number_of_pets' column from the DataFrame. (~1 line)

q29 = q16.pop('number_of_pets')

In [31]:
# 15. Delete the row where the age is missing. (~1 line)

q30 = q16.dropna(how='any',subset=['age'])